body{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.header {
display:flex;
flex-direction: row;

    align-items: center;
    width: 400px;
    justify-content: space-around;
}
.footer {
    margin-top: 15px;
display:flex;
justify-content: space-between;
width: 500px;
align-items: center;
flex-direction: row;

}
.board{
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid rgb(228, 140, 140);
}